<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <main>
        @RenderBody()
    </main>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/webproject21/dist/webproject21/main-es2015.js"></script>
    <script src="~/webproject21/dist/webproject21/main-es5.js"></script>
    <script src="~/webproject21/dist/webproject21/polyfills-es2015.js"></script>
    <script src="~/webproject21/dist/webproject21/polyfills-es5.js"></script>
    <script src="~/webproject21/dist/webproject21/runtime-es2015.js"></script>
    <script src="~/webproject21/dist/webproject21/runtime-es5.js"></script>
    <script src="~/webproject21/dist/webproject21/styles-es2015.js"></script>
    <script src="~/webproject21/dist/webproject21/styles-es5.js"></script>
    <script src="~/webproject21/dist/webproject21/vendor-es2015.js"></script>
    <script src="~/webproject21/dist/webproject21/vendor-es5.js"></script>
</body>
</html>
